@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap');

*, *::before, *::after {box-sizing: inherit;}

:root {
    --card-size: 200px;
}

html {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(rgb(187, 202, 246), rgb(6, 106, 255));
}

main {
    padding-top: 10vh;
}

h1,
h2, 
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat Alternates', sans-serif;
}

.btn {
    color: black;
    cursor: pointer;
}

.close-btn:hover {
    color: coral;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    width: 100%;
}

.footer-content {
    clear: both;
    position: fixed;
    bottom: 0;
    margin-top: 5rem;
    width: 100%;
    text-align: center;
}

.social-media {
    color: black;
    font-size: 200%;
}

.copy-right {
    font-size: 0.8rem;
}

.title-box {
    max-width: 500px;
    min-width: 25vw;
    background-color: coral;
    border: 5px solid rgba(0, 0, 0, 0.7);
    padding-bottom: 2rem;
    text-align: center;
    font-size: 150%;
    margin: 0 auto;
}

.btn--small {
    display: flex;
    font-size: 100%;
    width: 5rem;
    background-color: coral;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 2px 5px 0 black;
    align-items: center;
    justify-content: center;
}

.btn--big {
    display: flex;
    font-size: 110%;
    margin: 1.25rem auto;
    background-color: coral;
    width: 75%;
    height: 3rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow:  0 5px 8px 0 black;
    align-items: center;
    justify-content: center;
}

.btn--big:focus, .btn--small:focus {
    color: coral;
    background-color: white;
}

.btn--big:hover, .btn--small:hover {
    transition: transform 100ms ease-in-out;
    transform: scale(1.05)
}

.modal {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10vh;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 100;
}

.front-img {
    object-fit: cover;
}

/*Game start modal is displayed by default*/
.game-start.modal {
    display: block;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 1.25rem;
    border-radius: 10px;
    max-width: 100%;
    margin: 3rem auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.8), 0 7px 20px 0 rgba(0, 0, 0, 0.6);
    text-align: center;
}

.instructions .modal-content {
    overflow-y: auto;
    max-height: 850px;
}

/*Remove scroll bar */
.modal-content::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.modal-content p {
    margin-top: 0;
}

.modal-content h2 {
    margin-bottom: 0;
}

.modal ul {
    list-style-type: none;
    padding: 0 1rem;
    font-weight: bold;
}

.modal li {
    padding: 0.25rem 0;
}

.modal-body {
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
}

.modal-header .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 30px;
}

.modal-footer {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

.game-title {
    text-align: center;
    font-size: 2rem;
}

.difficulty {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
}

.info-container {
    display: flex;
    grid-column: 1 / -1;
    justify-content: space-between;
}

.end-reset-container {
    max-width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin-bottom: 2.5rem;
    grid-gap: 15px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: var(--card-size);
    width: var(--card-size);
    cursor: pointer;
}

.card-face img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 300ms ease-in-out;
}

.card.visible .card-front {
    transform: rotateY(0);
  }
  
.card.visible .card-back {
    transform: rotateY(-180deg)
  }  

.card-face:hover {
    transition: transform 100ms ease-in-out;
    transform: scale(1.1);
}

.card-back {
    transform: rotateY(0);
}

.card-front {
    transform: rotateY(180deg);
}

.win .modal-content, .lose .modal-content {
    background-color: gray;
    width: 500px;
}

.lb-box {
    background-color: antiquewhite;
    width: 400px;
    min-height: 50vh;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

.player {
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
}

.player:last-child {
    border-bottom: 0;
}

@media (max-height: 1100px) {
    :root {
        --card-size: 150px;
    }

    .modal {
        padding-top: 0;
    }
}

@media (max-height: 900px) {
    :root {
        --card-size: 100px;
    }

    .footer-content {
        position: static;
    }
}

@media (max-width: 850px) {
    .game-area {
        grid-template-columns: repeat(2, auto);
    }
    
    .footer-content {
        position: static;
    }
}

@media (max-width: 320px) {
    .game-title {
        font-size: 1em;
    }
}